.btn-hecc {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #d5684d;
    --bs-btn-border-color: #d5684d;
    --bs-btn-border-radius: 1.5rem;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: #9e4b34;
    --bs-btn-hover-border-color: #9e4b34;
    --bs-btn-focus-shadow-rgb: #cf6244;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #632f21;
    --bs-btn-active-border-color: #632f21;
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.2rem;
    --bs-bg-opacity: 1;
   /*background: linear-gradient(to right, #d5684d, #632f21);*/

  }

  .btn-summary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #ec9c73;
    --bs-btn-border-color: #ec9c73;
    --bs-btn-border-radius: 1.5rem;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: #bd7d5c;
    --bs-btn-hover-border-color: #bd7d5c;
    --bs-btn-focus-shadow-rgb: #cf6244;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #8c5c43;
    --bs-btn-active-border-color: #8c5c43;
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.2rem;
  }

  .btn-gallery {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #c46aaa;
    --bs-btn-border-color: #c46aaa;
    --bs-btn-border-radius: 1.5rem;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: #9c5487;
    --bs-btn-hover-border-color: #9c5487;
    --bs-btn-focus-shadow-rgb: #cf6244;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #6b3a5d;
    --bs-btn-active-border-color: #6b3a5d;
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.2rem;
  }

  .btn-ooc {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #843b99;
    --bs-btn-border-color: #843b99;
    --bs-btn-border-radius: 1.5rem;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: #6e3280;
    --bs-btn-hover-border-color: #6e3280;
    --bs-btn-focus-shadow-rgb: #cf6244;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #462052;
    --bs-btn-active-border-color: #462052;
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.2rem;
  }
